:root {
    --primary-color: #535353;
    --secondary-color: #688E6D;
    --accent1-color: #C1C1C1;
    --accent2-color: #EAEAEA;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Figtree', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: var(--secondary-color);
}

header img{
    grid-column: 1;
}

header nav {
    margin-top: 30px;
    grid-column: 2;
    display: flex;
    background: rgba(147, 149, 161, 0.6);
    align-items: center;
}

header nav a{
    padding: 10px 10px;
    align-items: center;
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    text-align: center;
}

.hero h1 {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -200px;

}


.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-article {
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    margin-top: -200px;
    margin-left: 500px;
    width: 60%;
    text-align: left;
    border-radius: 10px;  
}

.hero-article p {
    color: white;
}


.hero-article img {
    width: 30%;
    float: right;
    margin-left: 10px;
}

#History {
    position: relative;
    margin-top: 300px;
    display: flex;
    margin-bottom: -200px;
    margin-left: 5px;
    margin-right: 100px;
}

#History img{
    width: 150px;
    height: 150px;
}

#History h1{
    position: absolute;
    color: black;
    margin-top: -50px;
    
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
    margin-top: 400px;
}

p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

#Adventure img {
    width: auto;
    height: 300px;
    margin: 15px 0;

}

#Adventure p {
   align-items: justify;
   margin-left: -500px;

}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: var(--secondary-color);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
}

footer p{
    margin-left: 300px;
    text-align: center;
}

.SocialMedia img {
    width: 25px;
    margin: 5px;
}
