:root {
    --primary-color: #000000;
    --secondary-color: #5FCE6E;
    --accent1-color: #C1C1C1;
    --accent2-color: #EAEAEA;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Figtree', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: var(--secondary-color);
}

header img{
    grid-column: 1;
}

header nav {
    margin-top: 20px;
    grid-column: 2;
    display: flex;
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header nav a {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 6px; 
}

header nav a:hover {
    background: rgba(255, 255, 255, 0.2); 
    color: #f1c40f;
}

main img{
    margin-left: 100px;
}

.hero {
    position: relative;
    width: 100%;
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero img   {
    margin-left: -0px;
    width: 100%;
    height: auto;
    display: block;
}

.hero-article {
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    margin-top: -200px;
    margin-left: 500px;
    width: 60%;
    text-align: left;
    border-radius: 10px;  
}

.hero-article p {
    color: white;
}
.hero-article H2{
    color: white;
    margin-top: -20px;
}


.hero-article img {
    width: 30%;
    float: right;
    margin-left: 10px;
}

#History {
    position: relative;
    margin-top: 200px;
    display: flex;
    margin-bottom: -300px;
    margin-left: 5px;
    margin-right: 4px;
}

#History img{
    width: 150px;
    height: 150px;
}

#HisHeading{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: -150px;
    border-bottom: 2px solid #555;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
    margin-top: 400px;
}

p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

#Adventure img {
    width: auto;
    height: 300px;
    margin: 15px 0;

}

#Adventure p {
   text-align: justify;
   margin-left: -500px;

}


.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.TripPic{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;

}

.TripPic img {
    width: 150px;
    height: 150px;
}

.TripPic p{
    align-items: center;
    margin-left: 50px;
}


.EmployeePic {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-left: -75px;
}

#greatTeam{
    margin-top: -1px;
    text-align: center;
}

.employee {
    
    align-items: center;
    text-align: center;     
}

.EmployeePic img {
    width: 150px;
    height: 150px;
}

.GeneralPic{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 50%;
    justify-content: space-around;
    gap: 5px;
    margin-left: -75px;
}

.GenPic{    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;   
    grid-column: 2/2;
    margin-left: 300px;
}

.GeneralPic p{
    padding: 30px;
    gap: 60px;
    grid-column: 3/4;
}
.GeneralPic img{
    width: 250px;
    height: 200px;
}

#EmploExpla{
    position: absolute;
    margin-right: -1500px;
    font-style: italic;
    width: 200px;
    text-align: justify;
}

#CuriousFact{
    text-align: justify;
    margin-top: 50px;
    padding-right: 300px;
    padding-left: 300px;
}


.AskInformation{
    font-family: inherit;
    font-size: 100%;
    width: 40%;
    margin: 10px;
    box-sizing: border-box;
}

.AskInformation input{
    display: flex;

}

.ShortText{
    width: 70px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: var(--secondary-color);
    font-size: 12px;
    display: flex;
    
    justify-content: space-between;
    flex: 1 1 100%;
}

footer p{
    margin-left: 300px;
    text-align: center;
    color: var(--primary-color);
}

.SocialMedia img {
    width: 25px;
    margin: 5px;
}


.ask-information {
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 25px var(--secondary-color);
  }
  
  fieldset {
    border: none;
    text-align: center;
  }
  
  legend {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #666;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  input[type="checkbox"] {
    margin-top: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d6d6d6;
  }

#Bt_Trips{
    text-decoration: none;
    display: block;
    width: 70px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 250px;
    margin-left: 80px;
    color: black;
}

#Bt_Trips:hover{
    background: rgba(255, 255, 255, 0.2); 
    color: #f1c40f;
}

#ContacBut{
    text-decoration: none;
    display: block;
    width: 70px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: -0px;
    margin-left: 80px;
    color: black;
}

#ContacBut:hover{
    background: rgba(255, 255, 255, 0.2); 
    color: #f1c40f;
}

.MapAndForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px; 
}

.map-container iframe {
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 25px var(--secondary-color);
}

.TripsButton{
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 25px var(--secondary-color);
    width: 250px;
    height: 250px;
}

.ContactButton{
    border-radius: 10px;
    margin-left: 700px;
    width: 250px;
    height: 250px;
}

.ContactButton p{
    margin-left:30px;
}


#TimeExplore{
    margin-top: -0px;
}

#AnyQuest{
    margin-left: 80px;
    margin-top: -150px;
}

.TripsButton p{
    margin-bottom: -200px;
}

  .GenInfo{
    margin-top: -400px;
    display: flex;
    flex-direction: column;
  }

#TripTable{
    border-collapse: collapse; 
    text-align: center;
}
  